h2 {
   font-size: 3.5vw;
}

h3, p {
   font-size: 2vw;
}

ul {
   font-size: 1.3em;
}

h1 {
   font-size: 14vw;
   width: 100%;
}

.menuGauche a, .menuDroit a {
   font-size: 4vw;
   padding-left: 100px;
   padding-right: 100px;
}

.navigation {
   width: 12%;
}


.navigation h3 {
   font-size: 1.7vw;
}

.navigation p, .navigation a {
   font-size: 1.3vw;
}

.articleDescription {
   width: 60vw;
}

.photosDescription img {
   width: 70vw;
}

.imagesAgencement img.open {
   width: 60%;
}

.articleCarte h2 {
   font-size: 3.5vw;
}

.bateau {
   top: -22vw;
}
@keyframes bateau {
   0% {
      top: 0;
      left: 50vw;
      transform: rotate(0deg);
   }

   70% {
      top: -17vw;
      transform: rotate(30deg);
      left: 8vw;
   }
}
.tarifs, .informations {
	height: 38vw;
}

footer {
   height: 500px;
}
