h2 {
   font-size: 5vw;
}

h3, p {
   font-size: 3vw;
}

ul {
   font-size: 1.6em;
}
/*EN-TETE*/
h1 {
   font-size: 14vw;
   width: 100%;
}

#enTete{
   margin-left: 3.5%;
}
header::after {
   width:106%;
}

video {
   width: 106%;
}

.menuGauche a, .menuDroit a {
   font-size: 5vw;
   padding-left: 130px;
   padding-right: 130px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 20px;
   margin: 40px;

}

.menuGauche a:hover, .menuDroit a:hover {
   background-color: rgba(13, 22, 55, 0.4);
   border: solid 1px rgb(3, 7, 22);
   font-size: 5vw;
   padding-left: 130px;
   padding-right: 130px;
   padding-top: 20px;
   padding-bottom: 20px;
   border-radius: 20px;
   margin: 40px;
}

/*NAVIGATION*/
.navigation {
   display: none;
}
.navigation h3 {
   font-size: 3vw;
}

.navigation p, .navigation a {
   font-size: 2.3vw;
}

/*PARTIE DESCRIPTION*/
.description {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-top: 10%;
   margin-left: 6%;
}

.articleDescription {
   border: solid 1px rgb(13, 22, 55);
   position: relative;
   width: 90%;
   right: 0;
   left:0;
}

.photosDescription {
   position: relative;
   margin-top: 3vw;
   width: auto;
   left: 0;
}


.photosDescription img {
   width: 95vw;
}

/*PARTIE AGENCEMENT*/
#agencementID {
   width: 100%;
}
.next.open, .prev.open {
   top: 80%;
   width: 15vw;
   height: 15vw;
}

.next.open {
   right: 20%;
   background-image: url(assets/img/next.png);
}

.prev.open {
   left: 20%;
   background-image: url(assets/img/prev.png);
}

#agencementID{
   padding-bottom: 10vw;
}
.articleAgencement {
   width: 90%;
   padding-left: 5%;
   padding-right: 5%;
}

.imagesAgencement img {
   top: 7vw;
   transition: top 0s;
}

.imagesAgencement img:hover {
   border-color: rgb(246, 239, 221);
   top: 7vw;
}


.imagesAgencement img {
   transition: top 0s;
}

.imagesAgencement img.open {
   top: 35%;
   width: 95%;
}

/*PARTIE EQUIPEMENT*/
#listeEquipementsGauche, #listeEquipementsDroite {
   margin-right: 3vw;
   margin-left: 3vw;
}

#listeEquipementsGauche li, #listeEquipementsDroite li {
   background-position: 0em -0.2em;
   padding-left: 2em;
}

/*PHOTOS*/
.photos {
   margin-left: 3%;
}
.photos img {
   transition: top 0s;
}

.mosaic img.open {
   top: 35%;
   width: 95%;
}

.mosaic img.open:hover {
   top: 35%;
   width: 95%;
}

.photos img:hover {
   top: 0px;
   border-color: rgb(3, 7, 22);
}

.mosaic {
   grid-gap: 1px;
}

.mosaic.animation {
   animation-name:none;
}

.mosaic img:nth-child(8).open {
   width: 70vw;
   height: 120vw;
}

/*CARTE*/

.carte {
   width: 106%;
}
.articleCarte h2 {
   font-size: 5vw;
}

.articleCarte img {
   width: 105vw;
}

.bateau {
   top: -27vw;
   width: 6vw;
}

@keyframes bateau {
   0% {
      top: 0;
      left: 50vw;
      transform: rotate(0deg);
   }

   70% {
      top: -20vw;
      transform: rotate(30deg);
      left: 8.5vw;
   }
}

/*PARTIE TARIF INFORMATION*/

.tarifs, .informations {
   width: 80vw;
   height: 50vw;
}

.tarifsInformations {
   margin-left: 4%;
   opacity: 1;
}

.tarifsInformations.animation{
   animation-name: none;
   opacity: 1;
}


/*FOOTER*/

footer {
   height: 500px;
   width: 106%;
}
