@font-face {
   font-family: 'GreatVibes-Regular';
   src: url("polices/great-vibes/GreatVibes-Regular.otf");
}

@font-face {
   font-family: 'Raleway-Medium';
   src: url("polices/raleway/Raleway-Medium.ttf");
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url("polices/raleway/Raleway-Regular.ttf");
}
@font-face {
   font-family: 'Lobster';
   src: url("polices/lobster/Lobster.otf");
}

body {
   font-family: "Raleway-Regular";
   background-color: rgb(246, 239, 221);
   color: rgb(13, 22, 55);
}

h2 {
   font-size: 2em;
   text-align: center;
   font-family: "Raleway-Medium";
}

h3 {
   font-size: 1em;
}

p {
   font-size: 1em;
}

ul {
   font-size: 1em;
   list-style-type: none;
   margin-left: 0;
   padding-left: 0;
}

li {
   margin-bottom: 20px;
}

a {
   text-decoration: none;
   color: rgb(13, 22, 55);
}

.textAgencement span, .textTarifs span, .textInformations span, .textContact span {
   font-weight: bold;
}

.bouton:hover {
   border: solid 2px rgb(235, 165, 0);
}

a:visited {
   color: rgb(13, 22, 55);
}

p .lienLeboncoin:hover, footer li a:hover, aside a:hover, .navigation.position.couleur a:hover {
   color: rgb(235, 165, 0);
}

/*EN-TETE*/
header {
   text-align: center;
   margin-bottom: 30px;
}

#enTete {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.imageHeader {
   width: 596px;
   height: 360px;
}

#etoile {
   width: 70px;
   height: 50px;
}

h1 {
   font-size: 6vw;
   font-family: 'GreatVibes-Regular';
   order: 2;
   transition: all 0.3s;
}

.menuGauche {
   order: 1;
}

.menuDroit {
   order: 3;
}

.menuGauche a, .menuDroit a {
   width:8vw;
   padding: 7px;
   border: solid 3px rgb(13, 22, 55);
   border-radius: 5px;
   font-family: 'Lobster';
   font-size: 1.4vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position:relative;
   overflow:hidden;
   transition: all 0.3s;
}
.menuGauche a::before, .menuDroit a::before{
   content:'';
   position:absolute;
   background-color:rgb(13, 22, 55);
   height:0%;
   top:50%;
   left:50%;
   width:100%;
   z-index:-1;
   opacity:0;
   transition: all 0.3s;
   transform: translate(-50%, -50%) rotate(45deg);
}
.menuGauche a:hover, .menuDroit a:hover{
   color:rgb(246, 239, 221);
}
.menuGauche a:hover::before, .menuDroit a:hover::before{
   opacity:1;
   height: 260%;
}
.menuGauche a:active::before, .menuDroit a:active::before{
   height:370%;
}


/*NAVIGATION*/
.navigation {
   background-color: rgba(13, 22, 55, 0.0);
   text-align: center;
   width: 100px;
   border-radius: 10px;
   border: solid 3px rgb(13, 22, 55);
   position: absolute;
   top: 445px;
   left: 120px;
   transition-property: left, border;
   transition-duration: 0.4s;
   transition-timing-function: ease-in-out;
}

.navigation.position {
   position: fixed;
   top: 30px;
   left: 30px;
}

.navigation.position.couleur {
   border: solid 3px rgb(246, 239, 221);
   color: rgb(246, 239, 221);
}

.navigation.position.couleur a {
   color: rgb(246, 239, 221);
}

.navigation.position.positionFin {
   position: absolute;
   top: 4755px;
   left: 30px;
}

.navigation h3 {
   transition-property: color, border;
   transition-duration: 0.4s;
   transition-timing-function: ease-in-out;
}

.navigation p, .navigation a {
   color: rgb(13, 22, 55);
   font-size: 0.9em;
   transition-property: color, border;
   transition-duration: 0.4s;
   transition-timing-function: ease-in-out;
}

/*PARTIE DESCRIPTION*/
#descriptionID {
   background-color: rgb(13, 22, 55);
   color: rgb(246, 239, 221);
   padding: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

#descriptionID img {
   width: 640px;
   height: 480px;
   padding: 10px;
   border: solid 2px rgb(246, 239, 221);
   border-radius: 7px;
   margin-right: 30px;
}

#descriptionID article {
   text-align: center;
   width: 500px;
   padding: 10px;
   margin-top: 30px;
   border: solid 2px rgb(246, 239, 221);
   border-radius: 7px;
}

/*PARTIE AGENCEMENT*/
#agencementID {
   padding: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#imageAgencement {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

#imageAgencement img {
   width: 400px;
   height: 400px;
   border: solid 2px rgb(13, 22, 55);
   border-radius: 7px;
   padding: 10px;
   margin: 10px;
}

#articleAgencement {
   width: 700px;
   padding-left: 200px;
   padding-right: 200px;
   text-align: left;
   margin-bottom: 10px;
   border: solid 2px rgb(13, 22, 55);
   border-radius: 7px;
}

/*PARTIE EQUIPEMENT*/
#equipementsID {
   background-color: rgb(13, 22, 55);
   color: rgb(246, 239, 221);
   align-items: center;
   text-align: center;
   padding: 10px;
}

#listeEquipementsGauche, #listeEquipementsDroite {
   display: inline-block;
   vertical-align: middle;
   text-align: center;
   margin-right: 80px;
   margin-left: 80px;
   padding: 10px;
}

#listeEquipementsDroite li, #listeEquipementsGauche li {
   list-style-image: url('photos/checkV2.png');
}

/*PHOTOS*/
#photos {
   margin-top: 20px;
   padding: 10px;
   text-align: center;
}

#photos img {
   width: 564.48px;
   height: 423.36px;
   padding: 10px;
   margin: 10px;
   border: solid 2px rgb(13, 22, 55);
   border-radius: 7px;
}

#photos #imageVueCambreRouge {
   width: 270px;
   height: 480px;
}

#photos #ChambreMilieu {
   width: 270px;
   height: 360px;
}

/*CARTE*/
#carte {
   background-color: rgb(13, 22, 55);
   color: rgb(246, 239, 221);
   text-align: center;
   display: flex;
   align-items: center;
   flex-direction: column;
   margin-bottom: 30px;
   font-family: 'Lobster';
   font-size: 1.2em;
}

#carte h2 {
   font-family: 'GreatVibes-Regular';
   font-size: 2.5vw;
}

#carte img {
   width: 1105px;
   height: 601px;
}

/*PARTIE TARIF INFORMATION*/
#tarifsInformations {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
   flex-wrap: wrap;
}

.tarifs, .informations {
   width: 580px;
   height: 230px;
   margin: 20px;
   border-bottom: solid 3px rgb(13, 22, 55);
}

/*FOOTER*/
footer {
   display: flex;
   color: rgb(246, 239, 221);
   background-color: rgb(13, 22, 55);
   text-align: center;
   align-items: center;
   justify-content: space-around;
   height: 300px;
}

#piedPage {
   position: absolute;
}

.bouton {
   background-color: rgb(13, 22, 55);
   border: solid 1px rgb(246, 239, 221);
   border-radius: 10px;
   padding: 5px;
   width: 50px;
   height: 50px;
   margin-left: 300px;
}

.leboncoin, .lienMail {
   color: rgb(246, 239, 221);
   text-decoration: underline;
}

.lienLeboncoin:visited, .lienMail:visited, footer a:visited {
   color: rgb(246, 239, 221);
   text-decoration: underline;
}

footer a, aside a {
   color: rgb(246, 239, 221);
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width:1255px) {
   #carte img {
      width: 773.5px;
      height: 420.7px;
   }

   .navigation {
      width: 80px;
      left: 30px;
   }

   .navigation.position {
      position: fixed;
      top: 15px;
      left: 30px;
   }

   .navigation h3 {
      font-size: 0.8em;
   }

   .navigation p, .navigation a {
      font-size: 0.8em;
   }

   #descriptionID img {
      margin-left: 30px;
      width: 480px;
      height: 360px;
      padding: 10px;
   }

   #photos img {
      width: 394.8px;
      height: 296.1px;
   }

   #photos #imageVueCambreRouge {
      width: 189.7px;
      height: 336px;
   }

   #photos #ChambreMilieu {
      width: 189px;
      height: 252px;
   }
}

@media screen and (max-width:1140px) {
   #articleAgencement {
      padding-left: 50px;
      padding-right: 50px;
   }
}

@media screen and (max-width:1010px) {
   #carte img {
      width: 541.45px;
      height: 294.49px;
   }

   #photos img {
      width: 276.5px;
      height: 207.2px;
   }

   #photos #imageVueCambreRouge {
      width: 133px;
      height: 235.2px;
   }

   #photos #ChambreMilieu {
      width: 132.3px;
      height: 176.4px;
   }

   #imageAgencement img {
      width: 250px;
      height: 250px;
   }
}

@media screen and (max-width:885px) {
   h1{
      font-size:4em;
   }
   .menuGauche a, .menuDroit a {
      font-size: 0.9em;
      width:70px;
   }

   .navigation {
      display: none;
   }
}

@media screen and (max-width:830px) {
   #carte img {
      width: 379px;
      height: 205.8px;
   }

   #photos img {
      width: 276.36px;
      height: 207.27px;
   }

   #photos #imageVueCambreRouge {
      width: 132.3px;
      height: 235.2px;
   }

   #photos #ChambreMilieu {
      width: 132.3px;
      height: 176.4px;
   }

   #imageAgencement img {
      width: 175px;
      height: 175px;
   }

   #articleAgencement {
      width: 500px;
      padding-left: 5px;
      padding-right: 5px;
   }

   #descriptionID img {
      margin-left: 30px;
      width: 480px;
      height: 360px;
   }
}

@media screen and (max-width:685px) {


   #photos img {
      width: 165.8px;
      height: 132.3px;
   }

   #photos #imageVueCambreRouge {
      width: 79.38px;
      height: 141.12px;
   }

   #photos #ChambreMilieu {
      width: 79.38px;
      height: 105.84px;
   }
}

@media screen and (max-width:630px) {
   .imageHeader {
      width: 417.2px;
      height: 252px;
   }

   #descriptionID img {
      margin-left: 30px;
      width: 384px;
   }

   #articleAgencement {
      width: 400px;
   }

   .tarifs, .informations {
      width: 580px;
      height: 250px;
      margin: 20px;
   }
}
